package {{package}}

import {{entity_package}}.{{entity_class}}
import {{table_package}}.{{table_class}}
import github.afezeria.hymn.common.platform.DataBaseService
import org.springframework.stereotype.Component

/**
* @author afezeria
*/
@Component
class {{name}}(
databaseService: DatabaseService
) : AbstractDao<{{entity_class}}, {{table_class}}>({{table_class}}(), databaseService) {


}