package {{package}}

import java.time.LocalDateTime
import io.swagger.annotations.ApiModel
import io.swagger.annotations.ApiModelProperty
import java.util.*

/**
 * {{#table}}{{tag}}{{/table}}
 * @author afezeria
 */
@ApiModel(value="{{#table}}{{tag}}{{/table}}",description = """{{#table}}{{{comment}}}{{/table}}""")
data class {{name}}(

{{#table.fields}}
    @ApiModelProperty(value = "{{{comment}}}"{{#not_null}}, required = true{{/not_null}})
    var {{field_name}}: {{java_type}}{{^not_null}}? = null{{/not_null}},
{{/table.fields}}
) {

{{#table.standard_fields}}
    lateinit var {{field_name}}: {{java_type}}
{{/table.standard_fields}}

}
