package {{package}}

import github.afezeria.hymn.common.db.AbstractTable
import org.ktorm.schema.*
import {{entity_package}}.{{entity_class}}

/**
* @author afezeria
*/
class {{name}}(alias: String? = null) :
AbstractTable<{{entity_class}}>("{{table.name}}", schema = "hymn", alias = alias) {

{{#table.fields}}
  val {{field_name}} = {{ktorm_type}}("{{column_name}}")
{{/table.fields}}
{{#table.standard_fields}}
  val {{field_name}} = {{ktorm_type}}("{{column_name}}")
{{/table.standard_fields}}

}
