<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="github.afezeria.hymn" level="debug">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="p6spy" level="debug">
        <appender-ref ref="stdout"/>
    </logger>
</configuration>
